label {
    font-weight: bold;
    width: 30%;
    display: inline-block;
    text-align: right;
}

input {
    display: inline-block;
    width: 40%;
    margin-bottom: 1em;
}

button {
    display: block;
    margin-left: 65%
}

.width-33 {
    display: inline-block;
    width: 32%;
}

.git_name,
.winner-label {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.fill-height {
    height: 2em;
}

.label {
    font-weight: bold;
}

.middle {
    text-align: center;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}

.winner {
    color: red;
    font-weight: bold;
}